# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Local settings file
*/settings_local.py

# Other files
*.pyc
*.pyo
*.pyd
.Python

db.sqlite3