<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>One Piece TCG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="logo-container">
    <img src="https://en.onepiece-cardgame.com/images/common/pc/logo_op.png" alt="One Piece Logo"
         style="max-width: 200px; margin-left: 10px;">
    <div class="input-group search-bar-container">
        <input type="text" class="form-control custom-width" placeholder="Buscar...">
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <img src="https://i.imgur.com/3T2XUIt.jpeg" alt="Banner" class="img-fluid">
        </div>
    </div>
</div>

<div class="col-12">
    <div class="custom-black-line">
        <div class="line-left">Amazon</div>
        <div class="line-right">Chile</div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row d-flex align-items-start">
        <div class="col-md-2 borde-filtro" style="margin-left: 20px;">
            {% include 'filters.html' %}
        </div>

        <!-- Columna de Productos -->
        <div class="col-md-9">
            <div class="row">
                {% for producto in page_obj %}
                    <div class="col-md-3 producto-card {{ producto.nombre|lower|slugify }} tarjeta-con-efecto">
                        <a href="{{ producto.url }}" target="_blank" class="text-decoration-none">
                            <div class="card roboto-condensed h-100 rounded">
                                <div class="text-center">
                                    <img src="{{ producto.image }}" class="card-img-top mb-2 img-fluid"
                                         alt="{{ producto.nombre }}"
                                         style="object-fit: contain; height: 300px;">
                                </div>
                                <div class="separador"></div>
                                <div class="card-body">
                                    <div class="producto-type {% if producto.type_id == 1 %}starter-deck{% elif producto.type_id == 2 %}booster-pack{% endif %}">
                                        {{ producto.type }}
                                    </div>
                                    <h3 class="card-title text-dark">{{ producto.nombre }}</h3>
                                    <p class="card-text text-dark">Idioma: {{ producto.idioma }}</p>
                                    <p class="card-text text-dark precio">${{ producto.precio_clp }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}" style="margin: 0 5px;">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next page">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
