<!-- filters.html -->
<div class="filter-container">
    <h5>Filtros</h5>

    <!-- Barra de búsqueda -->
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar...">
    </div>

    <!-- Filtro de tipo de producto -->
    <h6>Tipo de Producto</h6>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="boosterPackCheck">
        <label class="form-check-label" for="boosterPackCheck">
            BOOSTER PACK
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="starterDeckCheck">
        <label class="form-check-label" for="starterDeckCheck">
            STARTER DECK
        </label>
    </div>
</div>
