/*!* styles.css *!*/

body {
    background-color: #F7F7F7;
}

.logo-container {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: 10px;
}

.search-bar-container {
    transform: translate(60%);
    max-width: 33%;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.precio {
    font-weight: bold;
    font-size: 24px;
}

.separador {
    border-top: 1px solid #ccc;
}

.card {
    transform: scale(0.95);
    margin: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.producto-type {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    white-space: nowrap;
    padding: 3px;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 7px;
    background-color: rgb(154, 188, 250);
    color: rgb(0, 60, 178);
    font-size: 11px;
    font-weight: bold;
}

.booster-pack {
    background-color: #f3bf9a; /* Naranja para BOOSTER PACK */
    color: #d25800;
    font-weight: bold;
}


.card-body {
    background-color: #f0f0f0;
}

.tarjeta-con-efecto .card:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);

}

.tarjeta-con-efecto .card:hover .card-body.bg-darker {
    background-color: #e7e7e7;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.col-12 {
    padding: 0;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.pagination .page-link {
    color: #000;
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}

.pagination .page-link:hover {
    color: #000000;
    background-color: #FFFFFF; /* Cambio de color de fondo al hacer hover */
    border: 1px solid #d3d3d3;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link i {
    color: inherit;
}


.form-check {
    margin-bottom: 15px;
}


.borde-filtro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.custom-black-line {
    display: flex;
    background-color: black;
    color: white;
}

.line-left, .line-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0; /* Ajusta el padding según necesites */
}

.line-left {
    text-align: left;
    padding-left: 10px; /* Ajusta según necesites */
}

.line-right {
    text-align: right;
    padding-right: 10px; /* Ajusta según necesites */
}
